@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

/* font families */
/* 
font-family: Inter;
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    font-weight: 200;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 8vh 3vw;
}

h1 {
    color: #E6534E;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15em;
}

a {
    text-decoration: none;
    margin: 0 2vw;
    color: #333333;
    font-size: 16px;
    line-height: 19px;
}

.button {
    /* wenn ich die border erst beim hover hinzufüge verschiebt sich der Rest der nav, sieht komisch aus */
    border: 2px solid #E6534E; 
    background-color: #E6534E;
    color: white;
    border-radius: 25px;
    padding: 1vh 6vh;
}

.button:hover {
    color: #E6534E;
    background-color: white;
}